/* Each User Entry */
.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.entry:hover {
  cursor: pointer;
}

/* Name + profile picture */
.userInfo {
  min-width: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.userInfo > img {
  width: 1.35rem;
  height: 1.35rem;
}

.actions {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.accept:hover {
  cursor: pointer;
  color: var(--green-600);
}

.reject:hover {
  cursor: pointer;
  color: var(--error-500);
}
