:root {
  --frd-wdgt-acpt-clr: var(--grey-600);
  --frd-wdgt-rjct-clr: var(--error-500);
}

[data-theme="dark"] {
}

/* Each User Entry */
.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.entry:hover {
  cursor: pointer;
}

/* Name + profile picture */
.userInfo {
  min-width: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.userInfo > img {
  width: 1.35rem;
  height: 1.35rem;
}

.actions {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.accept:hover {
  cursor: pointer;
  color: var(--frd-wdgt-acpt-clr);
}

.reject:hover {
  cursor: pointer;
  color: var(--frd-wdgt-rjt-clr);
}
