:root {
  --sec-tip-shdw-clr: var(--grey-100);
  --sec-dgr-tip-bkg-clr: var(--error-100);
  --sec-dgr-tip-txt-clr: #000000;
}

[data-theme="dark"] {
  --sec-tip-shdw-clr: var(--navy-700);
}

.container {
  padding: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.back {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1.75rem;
}

.back:hover {
  cursor: pointer;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section > h2 {
  font-weight: 500;
  font-size: 1.25rem;
}

/* Form styling */
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form > * {
  font-size: clamp(0.85rem, 3vw, 0.95rem);
}

.form > label {
  font-weight: 500;
}

.form > input,
.form > button {
  border-radius: 0.5rem;
}

/* Confirmation styling */
.confirmation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.confirmation > p {
  font-size: 2rem;
  font-weight: 500;
}

.confirmationActions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.confirmationActions > button {
  font-size: 1.25rem !important;
}

/* Tip cards styling */
.tip,
.danger {
  --card-padding: 0.75rem;
  font-size: clamp(0.85rem, 3vw, 0.95rem);
  box-shadow: 0 0 15px 5px var(--sec-tip-shdw-clr);
}

.danger {
  background-color: var(--sec-dgr-tip-bkg-clr);
  color: var(--sec-dgr-tip-txt-clr);
}

@media (min-width: 568px) {
  .container {
    gap: 1.5rem;
    padding-inline: 1rem;
  }

  .back {
    font-size: 2rem;
  }

  .section {
    gap: 1rem;
  }

  .section > h2 {
    font-size: 1.5rem;
  }
}
