.homeContainer {
  display: flex;
  gap: 1rem;
  padding-inline: 0.5rem;
}

.mainContainer {
  width: 100%;
  max-width: var(--max-main-content-width);
  margin-inline: auto;
}

.postContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1rem;
}

.emptyFeedMsg {
  text-align: center;
  font-weight: 500;
}

.friendsContainer {
  width: 100%;
  max-width: var(--max-aside-width);
  display: none;
  padding-block-end: 1rem;
}

@media (min-width: 968px) {
  .homeContainer {
    padding-inline: 1rem;
  }

  .friendsContainer {
    display: block;
  }
}
