:root {
  --cmt-txt-muted-clr: var(--grey-500);
  --cmt-bkg-clr: #fdfdfd;
  --cmt-bdr-clr: var(--grey-25);
  --cmt-dlt-clr: var(--error-300);
  --cmt-hvr-dlt-clr: var(--error-500);
  --cmt-sep-clr: var(--grey-100);
}

[data-theme="dark"] {
  --cmt-txt-muted-clr: var(--grey-400);
  --cmt-bkg-clr: var(--navy-700);
  --cmt-bdr-clr: var(--navy-800);
  --cmt-sep-clr: var(--lilac-700);
}

.comment {
  display: flex;
  gap: 0.5rem;
}

.comment > img {
  width: 2rem;
  height: 2rem;
}

.commentBody {
  min-width: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.45rem;
  border-radius: 0.5rem;
  border: 1px solid var(--cmt-bdr-clr);
  background-color: var(--cmt-bkg-clr);
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.username {
  width: max-content;
  font-size: 0.95rem;
  font-weight: 500;
}

/* Post timestamp */
.username > span {
  font-size: 0.85rem;
  font-weight: normal;
  color: var(--cmt-txt-muted-clr);
}

.delete {
  flex-shrink: 0;
  color: var(--cmt-dlt-clr);
}

.delete:hover {
  cursor: pointer;
  color: var(--cmt-hvr-dlt-clr);
}

.commentContent {
  font-size: 0.9rem;
  word-break: break-all;
}

.likeContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.25rem;
  margin-top: 0.5rem;
  font-size: clamp(0.8rem, 3vw, 0.95rem);
  border-top: 1px solid var(--cmt-sep-clr);
}

@media (min-width: 568px) {
  .comment > img {
    width: 2.25rem;
    height: 2.25rem;
  }
}
