.listsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.listName {
  font-weight: 500;
  font-size: 1.2rem;
}

.entryContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/* Each User Entry */
.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.entry:hover {
  cursor: pointer;
}

/* Name + profile picture */
.userInfo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.userInfo > img {
  width: 1.35rem;
  height: 1.35rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.accept:hover {
  cursor: pointer;
  color: var(--green-600);
}

.reject:hover {
  cursor: pointer;
  color: var(--error-500);
}
