:root {
  --frd-lst-more-clr: var(--grey-500);
  --frd-lst-more-hvr-clr: var(--grey-600);
}

[data-theme="dark"] {
  --frd-lst-more-clr: var(--grey-25);
  --frd-lst-more-hvr-clr: var(--grey-300);
}

.listsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.listName {
  font-weight: 500;
  font-size: 1.2rem;
}

.entryContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.more {
  color: var(--frd-lst-more-clr);
}

.more:hover {
  color: var(--frd-lst-more-hvr-clr);
}
