:root {
  --upld-form-dlt-hover: var(--error-500);
}

[data-theme="dark"] {
  --upld-form-dlt-hover: var(--error-300);
}

.postForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Profile pic w/ text input */
.formRow1 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.formRow1 > img {
  width: 2rem;
  height: 2rem;
}

/* Input + Submit button */
.formContent {
  width: 100%;
  display: flex;
  align-items: center;
}

.formContent > input {
  width: 100%;
  padding-right: 0;
  outline: 0;
  border: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.formContent > button {
  --form-btn-txt-clr: var(--form-input-placeholder-clr);
  --form-btn-bkg-clr: var(--form-input-bkg-clr);
  --form-btn-hvr-txt-clr: var(--form-input-txt-clr);
  --form-btn-hvr-bkg-clr: var(--form-input-bkg-clr);

  align-self: stretch;
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* For seamless border around whole input */
.formContent > input:focus {
  box-shadow: -1px 0 0 var(--form-input-fcs-bdr-clr),
    0 1px 0 var(--form-input-fcs-bdr-clr),
    0 -1px 0 var(--form-input-fcs-bdr-clr);
}

.formContent > input:focus ~ button {
  box-shadow: 1px 0 0 var(--form-input-fcs-bdr-clr),
    0 1px 0 var(--form-input-fcs-bdr-clr),
    0 -1px 0 var(--form-input-fcs-bdr-clr);
}

/* Custom image input field */
.fileUploadCont {
  width: 100%;
}

.imgInput {
  display: none;
}

/* Select image button */
.imgInputLabel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  color: var(--form-btn-txt-clr);
  background-color: var(--form-btn-bkg-clr);
  border: 1px solid var(--form-btn-bdr-clr);
  border-radius: 1rem;
  transition: background-color 250ms ease-in-out;
}

.imgInputLabel:hover {
  color: var(--form-btn-hvr-txt-clr);
  border-color: var(--form-btn-hvr-bdr-clr);
  background-color: var(--form-btn-hvr-bkg-clr);
  cursor: pointer;
}

.imgInputLabel > svg {
  flex-shrink: 0;
  font-size: 1.15rem;
}

.imgInputLabel:hover {
  cursor: pointer;
}

.imgInputLabel.hidden {
  height: 0;
  visibility: hidden;
}

/* Resulting image info */
.selectedFile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  padding-inline: 0.25rem;
}

.selectedFile > svg:hover {
  cursor: pointer;
  color: var(--upld-form-dlt-hover);
}

@media (min-width: 568px) {
  .formRow1 > img {
    width: 2.25rem;
    height: 2.25rem;
  }
}
