.container {
  width: 100%;
  padding-inline: 0.5rem;
}

.searchBar {
  justify-content: center;
  margin-inline: auto;
}

.searchBar > input {
  width: 100%;
}

.messages {
  margin-block: 1rem;
  font-weight: 500;
  text-align: center;
}

.resultsContainer {
  display: grid;
  grid-template-columns: 100%;
  gap: 0.5rem;
  padding-block: 1rem;
}

@media (min-width: 568px) {
  /* Conditional styling for search bar depending on screen size */
  .searchBar {
    display: none !important;
  }

  .resultsContainer {
    grid-template-columns: repeat(2, calc((100% - 0.5rem) / 2));
  }
}

@media (min-width: 768px) {
  .resultsContainer {
    grid-template-columns: repeat(3, calc((100% - 1rem) / 3));
  }
}
